In [1]:
import pandas as pd

In [2]:
data_path = "ID1091_spd3.csv"

In [3]:
with open(data_path, 'r') as f:
    data1 = pd.read_csv(f)

In [5]:
data1

,SEQ,M,T,D,L,E,K,P,S,I,...,V.41,L.42,Y.24,K.37,F.16,K.38,Q.15,P.27,Q.16,S.23
0,ASA,142.100,101.700,98.900,103.700,139.500,117.300,76.500,74.500,68.30,...,68.200,79.200,84.900,105.100,129.600,135.800,103.000,91.600,143.300,97.700
1,Phi,-95.000,-93.100,-90.700,-80.400,-87.000,-92.600,-67.900,-85.800,-90.40,...,-67.200,-68.100,-72.100,-70.800,-80.800,-82.700,-86.700,-70.200,-84.200,-88.300
2,Psi,132.600,130.400,115.100,-10.000,54.400,130.600,147.700,133.300,19.10,...,-38.100,-36.800,-33.000,-30.700,-15.100,-0.800,73.800,2.800,5.700,42.600
3,Theta(i-1=>i+1),115.100,113.600,110.600,100.900,106.500,115.800,111.100,113.100,104.60,...,93.900,93.700,95.000,95.000,97.700,100.100,107.100,101.300,102.400,105.700
4,Tau(i-2=>i+2),164.700,-153.600,-139.700,-174.400,85.900,176.600,-104.400,-116.300,-162.10,...,50.500,50.600,49.600,53.900,51.600,51.600,88.800,-153.700,64.200,67.400
5,HSE_alpha_up,5.200,4.500,5.300,7.700,2.800,7.200,8.600,5.900,14.60,...,7.600,6.500,10.300,7.800,4.600,3.800,8.000,6.400,2.400,1.900
6,HSE_alpha_down,6.300,9.500,13.200,9.800,11.200,11.700,12.500,14.500,11.50,...,18.300,17.300,13.600,13.600,12.200,12.200,9.000,10.900,9.900,7.800
7,P(C),0.995,0.983,0.977,0.947,0.931,0.948,0.959,0.926,0.88,...,0.003,0.007,0.036,0.121,0.393,0.706,0.945,0.917,0.947,0.994
8,P(H),0.003,0.008,0.010,0.036,0.042,0.023,0.032,0.051,0.09,...,0.997,0.993,0.964,0.879,0.607,0.287,0.053,0.070,0.041,0.005
9,P(E),0.002,0.010,0.013,0.017,0.027,0.028,0.010,0.023,0.03,...,0.000,0.000,0.000,0.000,0.001,0.007,0.003,0.012,0.011,0.001

In [6]:
data_path = "ID20_spd3.csv"

In [7]:
with open(data_path, 'r') as f:
    data2 = pd.read_csv(f)

In [8]:
data2

,SEQ,M,S,S.1,K,C,D,V,V.1,V.2,...,A.31,H.15,K.30,R.26,G.43,L.52,L.53,V.38,R.27,I.31
0,ASA,133.600,81.800,59.700,103.800,11.500,45.600,2.300,0.900,0.600,...,29.000,99.200,131.6,124.300,60.500,57.000,47.000,94.300,145.800,108.400
1,Phi,-93.700,-90.800,-93.700,-103.600,-120.700,-81.000,-143.600,-116.500,-108.600,...,-66.900,-66.800,-68.7,-88.700,72.600,-85.900,-111.000,-98.400,-91.300,-91.700
2,Psi,130.700,126.400,120.900,129.300,145.500,-23.100,145.900,130.200,119.300,...,-39.200,-36.600,-31.5,-3.600,17.400,-13.100,122.300,130.500,129.900,77.800
3,Theta(i-1=>i+1),114.500,112.000,112.400,117.100,128.600,98.400,137.200,122.500,115.800,...,93.800,93.300,92.3,95.200,94.200,97.900,118.100,114.700,113.300,108.400
4,Tau(i-2=>i+2),157.300,-138.800,-147.300,-167.200,-172.900,-147.300,17.800,-155.000,-159.000,...,50.800,51.400,51.4,49.900,-111.900,124.000,52.600,-174.000,-138.200,-172.100
5,HSE_alpha_up,6.600,5.100,10.300,9.200,22.700,14.400,25.600,27.800,28.300,...,12.000,7.500,2.9,5.300,1.400,11.900,16.400,5.700,7.500,8.100
6,HSE_alpha_down,8.500,12.100,14.900,19.600,18.000,25.600,27.500,29.900,32.000,...,15.500,15.600,15.0,12.400,16.900,11.600,9.900,15.200,12.700,10.000
7,P(C),0.987,0.967,0.929,0.867,0.658,0.719,0.029,0.002,0.004,...,0.005,0.027,0.1,0.748,0.965,0.945,0.911,0.884,0.893,0.994
8,P(H),0.008,0.021,0.031,0.014,0.005,0.002,0.000,0.000,0.000,...,0.995,0.973,0.9,0.250,0.031,0.035,0.020,0.013,0.009,0.001
9,P(E),0.005,0.012,0.041,0.119,0.337,0.279,0.971,0.998,0.996,...,0.000,0.000,0.0,0.002,0.004,0.020,0.069,0.103,0.098,0.005

In [12]:
data = [data1, data2]

In [13]:
data

[               SEQ        M        T        D        L        E        K  \
 0              ASA  142.100  101.700   98.900  103.700  139.500  117.300
 1              Phi  -95.000  -93.100  -90.700  -80.400  -87.000  -92.600
 2              Psi  132.600  130.400  115.100  -10.000   54.400  130.600
 3  Theta(i-1=>i+1)  115.100  113.600  110.600  100.900  106.500  115.800
 4    Tau(i-2=>i+2)  164.700 -153.600 -139.700 -174.400   85.900  176.600
 5     HSE_alpha_up    5.200    4.500    5.300    7.700    2.800    7.200
 6   HSE_alpha_down    6.300    9.500   13.200    9.800   11.200   11.700
 7             P(C)    0.995    0.983    0.977    0.947    0.931    0.948
 8             P(H)    0.003    0.008    0.010    0.036    0.042    0.023
 9             P(E)    0.002    0.010    0.013    0.017    0.027    0.028

          P        S       I   ...       V.41    L.42    Y.24     K.37  \
 0   76.500   74.500   68.30   ...     68.200  79.200  84.900  105.100
 1  -67.900  -85.800  -90.40   ...    -67.200 -68.100 -72.100  -70.800
 2  147.700  133.300   19.10   ...    -38.100 -36.800 -33.000  -30.700
 3  111.100  113.100  104.60   ...     93.900  93.700  95.000   95.000
 4 -104.400 -116.300 -162.10   ...     50.500  50.600  49.600   53.900
 5    8.600    5.900   14.60   ...      7.600   6.500  10.300    7.800
 6   12.500   14.500   11.50   ...     18.300  17.300  13.600   13.600
 7    0.959    0.926    0.88   ...      0.003   0.007   0.036    0.121
 8    0.032    0.051    0.09   ...      0.997   0.993   0.964    0.879
 9    0.010    0.023    0.03   ...      0.000   0.000   0.000    0.000

       F.16     K.38     Q.15     P.27     Q.16     S.23
 0  129.600  135.800  103.000   91.600  143.300   97.700
 1  -80.800  -82.700  -86.700  -70.200  -84.200  -88.300
 2  -15.100   -0.800   73.800    2.800    5.700   42.600
 3   97.700  100.100  107.100  101.300  102.400  105.700
 4   51.600   51.600   88.800 -153.700   64.200   67.400
 5    4.600    3.800    8.000    6.400    2.400    1.900
 6   12.200   12.200    9.000   10.900    9.900    7.800
 7    0.393    0.706    0.945    0.917    0.947    0.994
 8    0.607    0.287    0.053    0.070    0.041    0.005
 9    0.001    0.007    0.003    0.012    0.011    0.001

 [10 rows x 527 columns],
                SEQ        M        S      S.1        K        C        D  \
 0              ASA  133.600   81.800   59.700  103.800   11.500   45.600
 1              Phi  -93.700  -90.800  -93.700 -103.600 -120.700  -81.000
 2              Psi  130.700  126.400  120.900  129.300  145.500  -23.100
 3  Theta(i-1=>i+1)  114.500  112.000  112.400  117.100  128.600   98.400
 4    Tau(i-2=>i+2)  157.300 -138.800 -147.300 -167.200 -172.900 -147.300
 5     HSE_alpha_up    6.600    5.100   10.300    9.200   22.700   14.400
 6   HSE_alpha_down    8.500   12.100   14.900   19.600   18.000   25.600
 7             P(C)    0.987    0.967    0.929    0.867    0.658    0.719
 8             P(H)    0.008    0.021    0.031    0.014    0.005    0.002
 9             P(E)    0.005    0.012    0.041    0.119    0.337    0.279

          V      V.1      V.2   ...       A.31    H.15   K.30     R.26  \
 0    2.300    0.900    0.600   ...     29.000  99.200  131.6  124.300
 1 -143.600 -116.500 -108.600   ...    -66.900 -66.800  -68.7  -88.700
 2  145.900  130.200  119.300   ...    -39.200 -36.600  -31.5   -3.600
 3  137.200  122.500  115.800   ...     93.800  93.300   92.3   95.200
 4   17.800 -155.000 -159.000   ...     50.800  51.400   51.4   49.900
 5   25.600   27.800   28.300   ...     12.000   7.500    2.9    5.300
 6   27.500   29.900   32.000   ...     15.500  15.600   15.0   12.400
 7    0.029    0.002    0.004   ...      0.005   0.027    0.1    0.748
 8    0.000    0.000    0.000   ...      0.995   0.973    0.9    0.250
 9    0.971    0.998    0.996   ...      0.000   0.000    0.0    0.002

       G.43     L.52     L.53     V.38     R.27     I.31
 0   60.500   57.000   47.000   94.300  145.800  108.400
 1   72.600  -85.900 -111.000  -98.400  -91.300  -91.700
 2   17.400  -13.100  122.300  130.500  129.900   77.800
 3   94.200   97.900  118.100  114.700  113.300  108.400
 4 -111.900  124.000   52.600 -174.000 -138.200 -172.100
 5    1.400   11.900   16.400    5.700    7.500    8.100
 6   16.900   11.600    9.900   15.200   12.700   10.000
 7    0.965    0.945    0.911    0.884    0.893    0.994
 8    0.031    0.035    0.020    0.013    0.009    0.001
 9    0.004    0.020    0.069    0.103    0.098    0.005

 [10 rows x 521 columns]]

In [22]:
import numpy as np
data = np.array(data)
print(data[1])

               SEQ        M        S      S.1        K        C        D  \
0              ASA  133.600   81.800   59.700  103.800   11.500   45.600
1              Phi  -93.700  -90.800  -93.700 -103.600 -120.700  -81.000
2              Psi  130.700  126.400  120.900  129.300  145.500  -23.100
3  Theta(i-1=>i+1)  114.500  112.000  112.400  117.100  128.600   98.400
4    Tau(i-2=>i+2)  157.300 -138.800 -147.300 -167.200 -172.900 -147.300
5     HSE_alpha_up    6.600    5.100   10.300    9.200   22.700   14.400
6   HSE_alpha_down    8.500   12.100   14.900   19.600   18.000   25.600
7             P(C)    0.987    0.967    0.929    0.867    0.658    0.719
8             P(H)    0.008    0.021    0.031    0.014    0.005    0.002
9             P(E)    0.005    0.012    0.041    0.119    0.337    0.279

         V      V.1      V.2   ...       A.31    H.15   K.30     R.26  \
0    2.300    0.900    0.600   ...     29.000  99.200  131.6  124.300
1 -143.600 -116.500 -108.600   ...    -66.900 -66.800  -68.7  -88.700
2  145.900  130.200  119.300   ...    -39.200 -36.600  -31.5   -3.600
3  137.200  122.500  115.800   ...     93.800  93.300   92.3   95.200
4   17.800 -155.000 -159.000   ...     50.800  51.400   51.4   49.900
5   25.600   27.800   28.300   ...     12.000   7.500    2.9    5.300
6   27.500   29.900   32.000   ...     15.500  15.600   15.0   12.400
7    0.029    0.002    0.004   ...      0.005   0.027    0.1    0.748
8    0.000    0.000    0.000   ...      0.995   0.973    0.9    0.250
9    0.971    0.998    0.996   ...      0.000   0.000    0.0    0.002

      G.43     L.52     L.53     V.38     R.27     I.31
0   60.500   57.000   47.000   94.300  145.800  108.400
1   72.600  -85.900 -111.000  -98.400  -91.300  -91.700
2   17.400  -13.100  122.300  130.500  129.900   77.800
3   94.200   97.900  118.100  114.700  113.300  108.400
4 -111.900  124.000   52.600 -174.000 -138.200 -172.100
5    1.400   11.900   16.400    5.700    7.500    8.100
6   16.900   11.600    9.900   15.200   12.700   10.000
7    0.965    0.945    0.911    0.884    0.893    0.994
8    0.031    0.035    0.020    0.013    0.009    0.001
9    0.004    0.020    0.069    0.103    0.098    0.005

[10 rows x 521 columns]