In [1]:
import pandas as pd

In [2]:
data_path = "ID20_spd3.csv"

In [3]:
with open(data_path, 'r') as f:
    data = pd.read_csv(f)

In [4]:
data

,SEQ,M,S,S.1,K,C,D,V,V.1,V.2,...,A.31,H.15,K.30,R.26,G.43,L.52,L.53,V.38,R.27,I.31
0,ASA,133.600,81.800,59.700,103.800,11.500,45.600,2.300,0.900,0.600,...,29.000,99.200,131.6,124.300,60.500,57.000,47.000,94.300,145.800,108.400
1,Phi,-93.700,-90.800,-93.700,-103.600,-120.700,-81.000,-143.600,-116.500,-108.600,...,-66.900,-66.800,-68.7,-88.700,72.600,-85.900,-111.000,-98.400,-91.300,-91.700
2,Psi,130.700,126.400,120.900,129.300,145.500,-23.100,145.900,130.200,119.300,...,-39.200,-36.600,-31.5,-3.600,17.400,-13.100,122.300,130.500,129.900,77.800
3,Theta(i-1=>i+1),114.500,112.000,112.400,117.100,128.600,98.400,137.200,122.500,115.800,...,93.800,93.300,92.3,95.200,94.200,97.900,118.100,114.700,113.300,108.400
4,Tau(i-2=>i+2),157.300,-138.800,-147.300,-167.200,-172.900,-147.300,17.800,-155.000,-159.000,...,50.800,51.400,51.4,49.900,-111.900,124.000,52.600,-174.000,-138.200,-172.100
5,HSE_alpha_up,6.600,5.100,10.300,9.200,22.700,14.400,25.600,27.800,28.300,...,12.000,7.500,2.9,5.300,1.400,11.900,16.400,5.700,7.500,8.100
6,HSE_alpha_down,8.500,12.100,14.900,19.600,18.000,25.600,27.500,29.900,32.000,...,15.500,15.600,15.0,12.400,16.900,11.600,9.900,15.200,12.700,10.000
7,P(C),0.987,0.967,0.929,0.867,0.658,0.719,0.029,0.002,0.004,...,0.005,0.027,0.1,0.748,0.965,0.945,0.911,0.884,0.893,0.994
8,P(H),0.008,0.021,0.031,0.014,0.005,0.002,0.000,0.000,0.000,...,0.995,0.973,0.9,0.250,0.031,0.035,0.020,0.013,0.009,0.001
9,P(E),0.005,0.012,0.041,0.119,0.337,0.279,0.971,0.998,0.996,...,0.000,0.000,0.0,0.002,0.004,0.020,0.069,0.103,0.098,0.005

In [ ]:
MEHKEVVLLLLLFLKSGQGEPLDDYVNTQGASLFSVTKKQLGAGSIEECAAKCEEDEEFTCRAFQYHSKEQQCVIMAENRKSSIIIRMRDVVLFEKKVYLSECKTGNGKNYRGTMSKTKNGITCQKWSSTSPHRPRFSPATHPSEGLEENYCRNPDNDPQGPWCYTTDPEKRYDYCDILECEEECMHCSGENYDGKISKTMSGLECQAWDSQSPHAHGYIPSKFPNKNLKKNYCRNPDRELRPWCFTTDPNKRWELCDIPRCTTPPPSSGPTYQCLKGTGENYRGNVAVTVSGHTCQHWSAQTPHTHNRTPENFPCKNLDENYCRNPDGKRAPWCHTTNSQVRWEYCKIPSCDSSPVSTEQLAPTAPPELTPVVQDCYHGDGQSYRGTSSTTTTGKKCQSWSSMTPHRHQKTPENYPNAGLTMNYCRNPDADKGPWCFTTDPSVRWEYCNLKKCSGTEASVVAPPPVVLLPDVETPSEEDCMFGNGKGYRGKRATTVTGTPCQDWAAQEPHRHSIFTPETNPRAGLEKNYCRNPDGDVGGPWCYTTNPRKLYDYCDVPQCAAPSFDCGKPQVEPKKCPGRVVGGCVAHPHSWPWQVSLRTRFGMHFCGGTLISPEWVLTAAHCLEKSPRPSSYKVILGAHQEVNLEPHVQEIEVSRLFLEPTRKDIALLKLSSPAVITDKVIPACLPSPNYVVADRTECFITGWGETQGTFGAGLLKEAQLPVIENKVCNRYEFLNGRVQSTELCAGHLAGGTDSCQGDSGGPLVCFEKDKYILQGVTSWGLGCARPNKPGVYVRVSRFVTWIEGVMRNN